In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('D:/data science with python/shifting.csv',parse_dates=['Date'],index_col='Date')

In [11]:
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [12]:
df.shift(1)

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [13]:
df.shift(2)

             Price
Date
2017-08-15     NaN
2017-08-16     NaN
2017-08-17  171.00
2017-08-18  170.00
2017-08-21  166.91
2017-08-22  167.41
2017-08-23  167.78
2017-08-24  169.64
2017-08-25  168.71
2017-08-28  167.74

In [14]:
df.shift(-1)

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

In [7]:
df.index

DatetimeIndex([          '1970-01-01 00:00:00',
               '1970-01-01 00:00:00.000000001',
               '1970-01-01 00:00:00.000000002',
               '1970-01-01 00:00:00.000000003',
               '1970-01-01 00:00:00.000000004',
               '1970-01-01 00:00:00.000000005',
               '1970-01-01 00:00:00.000000006',
               '1970-01-01 00:00:00.000000007',
               '1970-01-01 00:00:00.000000008',
               '1970-01-01 00:00:00.000000009'],
              dtype='datetime64[ns]', freq=None)

In [8]:
df

                                    Date   Price
1970-01-01 00:00:00.000000000  15-Aug-17  171.00
1970-01-01 00:00:00.000000001  16-Aug-17  170.00
1970-01-01 00:00:00.000000002  17-Aug-17  166.91
1970-01-01 00:00:00.000000003  18-Aug-17  167.41
1970-01-01 00:00:00.000000004  21-Aug-17  167.78
1970-01-01 00:00:00.000000005  22-Aug-17  169.64
1970-01-01 00:00:00.000000006  23-Aug-17  168.71
1970-01-01 00:00:00.000000007  24-Aug-17  167.74
1970-01-01 00:00:00.000000008  25-Aug-17  166.32
1970-01-01 00:00:00.000000009  28-Aug-17  167.24

In [15]:
df['prev day price']=df['Price'].shift(1)

In [16]:
df

             Price  prev day price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [17]:
df['1 day change']=df['Price']-df['prev day price']

In [18]:
df

             Price  prev day price  1 day change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

In [19]:
df['Price'].shift(5)

Date
2017-08-15       NaN
2017-08-16       NaN
2017-08-17       NaN
2017-08-18       NaN
2017-08-21       NaN
2017-08-22    171.00
2017-08-23    170.00
2017-08-24    166.91
2017-08-25    167.41
2017-08-28    167.78
Name: Price, dtype: float64

In [22]:
df['5 day % return']=(df['Price']-df['Price'].shift(5))*100/df['Price'].shift(5)

In [23]:
df

             Price  prev day price  1 day change  5 day % return
Date
2017-08-15  171.00             NaN           NaN             NaN
2017-08-16  170.00          171.00         -1.00             NaN
2017-08-17  166.91          170.00         -3.09             NaN
2017-08-18  167.41          166.91          0.50             NaN
2017-08-21  167.78          167.41          0.37             NaN
2017-08-22  169.64          167.78          1.86       -0.795322
2017-08-23  168.71          169.64         -0.93       -0.758824
2017-08-24  167.74          168.71         -0.97        0.497274
2017-08-25  166.32          167.74         -1.42       -0.651096
2017-08-28  167.24          166.32          0.92       -0.321850

In [24]:
df

             Price  prev day price  1 day change  5 day % return
Date
2017-08-15  171.00             NaN           NaN             NaN
2017-08-16  170.00          171.00         -1.00             NaN
2017-08-17  166.91          170.00         -3.09             NaN
2017-08-18  167.41          166.91          0.50             NaN
2017-08-21  167.78          167.41          0.37             NaN
2017-08-22  169.64          167.78          1.86       -0.795322
2017-08-23  168.71          169.64         -0.93       -0.758824
2017-08-24  167.74          168.71         -0.97        0.497274
2017-08-25  166.32          167.74         -1.42       -0.651096
2017-08-28  167.24          166.32          0.92       -0.321850

In [28]:
df=df['Price']

KeyError: 'Price'

In [29]:
df

Date
2017-08-15    171.00
2017-08-16    170.00
2017-08-17    166.91
2017-08-18    167.41
2017-08-21    167.78
2017-08-22    169.64
2017-08-23    168.71
2017-08-24    167.74
2017-08-25    166.32
2017-08-28    167.24
Name: Price, dtype: float64

In [30]:
df.tshift(1)# t shift is used to shift dates

C:\Users\PallaviVanga\AppData\Local\Temp\ipykernel_26696\4060579993.py:1: FutureWarning: tshift is deprecated and will be removed in a future version. Please use shift instead.
  df.tshift(1)

Date
2017-08-16    171.00
2017-08-17    170.00
2017-08-18    166.91
2017-08-21    167.41
2017-08-22    167.78
2017-08-23    169.64
2017-08-24    168.71
2017-08-25    167.74
2017-08-28    166.32
2017-08-29    167.24
Name: Price, dtype: float64

In [31]:
df.index=pd.date_range(start='2017-08-15',periods=10,freq='B')

In [32]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [33]:
df

2017-08-15    171.00
2017-08-16    170.00
2017-08-17    166.91
2017-08-18    167.41
2017-08-21    167.78
2017-08-22    169.64
2017-08-23    168.71
2017-08-24    167.74
2017-08-25    166.32
2017-08-28    167.24
Freq: B, Name: Price, dtype: float64

In [34]:
df.tshift(1)

C:\Users\PallaviVanga\AppData\Local\Temp\ipykernel_26696\4060579993.py:1: FutureWarning: tshift is deprecated and will be removed in a future version. Please use shift instead.
  df.tshift(1)

2017-08-16    171.00
2017-08-17    170.00
2017-08-18    166.91
2017-08-21    167.41
2017-08-22    167.78
2017-08-23    169.64
2017-08-24    168.71
2017-08-25    167.74
2017-08-28    166.32
2017-08-29    167.24
Freq: B, Name: Price, dtype: float64

In [35]:
set=[1,2,3]
df['set']=set

In [36]:
df

2017-08-15 00:00:00        171.0
2017-08-16 00:00:00        170.0
2017-08-17 00:00:00       166.91
2017-08-18 00:00:00       167.41
2017-08-21 00:00:00       167.78
2017-08-22 00:00:00       169.64
2017-08-23 00:00:00       168.71
2017-08-24 00:00:00       167.74
2017-08-25 00:00:00       166.32
2017-08-28 00:00:00       167.24
set                    [1, 2, 3]
Name: Price, dtype: object

In [37]:
df.info()

<class 'pandas.core.series.Series'>
Index: 11 entries, 2017-08-15 00:00:00 to set
Series name: Price
Non-Null Count  Dtype
--------------  -----
11 non-null     object
dtypes: object(1)
memory usage: 476.0+ bytes